@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Swap Toggle Animation */
.swap {
  position: relative;
  display: inline-grid;
  user-select: none;
  place-content: center;
  cursor: pointer;
}

.swap > * {
  grid-column-start: 1;
  grid-row-start: 1;
  transition-duration: 300ms;
  transition-property: transform, opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.swap input {
  appearance: none;
  display: none;
}

.swap-rotate .swap-on,
.swap-rotate .swap-indeterminate {
  transform: rotate(45deg);
  opacity: 0;
}

.swap-rotate input:checked ~ .swap-on,
.swap-active .swap-on,
.swap-active:focus .swap-on {
  transform: rotate(0deg);
  opacity: 1;
}

.swap-rotate input:checked ~ .swap-off,
.swap-active .swap-off,
.swap-active:focus .swap-off {
  transform: rotate(-45deg);
  opacity: 0;
}
